/* Layout */

/* Custom Notification */

#notification {
  top: 80px;
  z-index: 9999;
  opacity: 0;
  right: 20px;
  width: 300px;
  position: fixed;
  visibility: hidden;
  transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
}
#notification.active {
  top: 20px;
  opacity: 1;
  visibility: visible;
}


/* Scroll up */

.scrollup {
  color: #fff;
  cursor: pointer;
  z-index: 2;
  position: fixed;
  right: 30px;
  bottom: -50px;
  font-size:0;
  padding: 10px;
  -webkit-transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  -moz-transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  -o-transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.scrollup i:before {
  font-size: 30px;
  margin:0 5px;
}
.scrollup.show {
  bottom: 50px;
  opacity: 0.8;
}
.scrollup:hover {
  color: #fff;
  font-size: 15px;
}


/**************** GENERAL ******************/

.kl-main-content {
  background-color:#fff
}


a,a:visited {
  color:#444
}
.scrollup {
  background-color: #1AB7DC;
}


a:hover{
  color: #1AB7DC;
}



body {

  font-family: "Open Sans";








}


h1,h2,h3,h4,h5,h6, .box-heading, .page-heading, .row-heading {

  font-family: "Open Sans";





}


h1,h2,h3,h4,h5,h6 {
  color: #444;
}



/***************** TOP BAR STYLE *****************/

#top-bar {
  background-color: #eee;
}


#top-bar {
  border-color: #eee;
}


#top-bar {
  color: #ccc;
}


.top-bar__links-list__link,
.top-bar__links-list__link:visited {
  color: #ccc;
}

@media only screen and (min-width: 992px){


.top-bar__links-list__link {
  border-color: #ddd;
}


.dropdown.open .top-bar__links-list__link,
.top-bar__links-list__link:hover {
  color: #fff;
}


.dropdown.open .top-bar__links-list__link,
.top-bar__links-list__link:hover {
  background-color: #1AB7DC;
}


.dropdown.open .top-bar__links-list__link,
.top-bar__links-list__link:hover {
  border-color: #1AB7DC;
}

}

/***************** HEADER STYLE *****************/
.header {

}


.header,
.skin1.common-home .header {

 background-color: #fff;

}

/* Search */

#search input,
#search select {
  color: #444;
}
#search input:-moz-placeholder { color: #444; }
#search input::-moz-placeholder { color: #444; }
#search input:-ms-input-placeholder { color: #444; }
#search input::-webkit-input-placeholder { color: #444; }


#search input,
#search select {
 border-color: #ddd;
}


/* Mini cart */

.mini-cart__info {
  color: #444;
}


.mini-cart__info {
  background-color: #fff;
}


#cart .mini-cart__button {


  color: #fff;

}

.mini-cart__header:after {
  color: #fff;
}


.mini-cart__header:after {
  border-color: #fff;
}


#cart .mini-cart__button:hover,
#cart.open .mini-cart__button {

  background-color: #fff;


  color: #444;

}

#cart .mini-cart__button:hover .mini-cart__header:after,
#cart.open .mini-cart__button .mini-cart__header:after {
  color: #444;
  border-color: #444;
}


#cart .mini-cart__view-cart-btn,
#cart .mini-cart__checkout-btn {

  background-color: #fff;


  color: #1AB7DC;


  border-color: #1AB7DC

}
#cart .mini-cart__view-cart-btn:hover,
#cart .mini-cart__checkout-btn:hover {

  background-color: #1AB7DC;


  color: #fff;


}

/***************** MENU **********************/
.navigation {

  background-color: #1ab7dc;


}
.main-nav__item > a {

  color: #fff;



}
.main-nav__item > a:hover {

  color: #fff;



  border-color: rgba(255,255,255,0.3);;

}

.main-nav__secondary-nav .subcat a {
  color: #888;
}


.main-nav__secondary-nav a:hover {
  color: #252525
}


.main-nav__item > a {

  font-family: "Open Sans";


  font-size: 15px;




}


/***************** LANGUAGE - CURRENCY STYLE *****************/

.extra span,
.extra .dropdown-toggle:after {
  color: #888;
}


.extra #currency .currency-select,
.extra #language .dropdown-menu>li>a {
 color: #888;
}



.extra .dropdown-toggle {
  border-color: #ddd;
}


.extra .dropdown-toggle:hover span,
.extra .btn-group.open .dropdown-toggle span {
 color: #fff;
}


.extra #currency .currency-select:hover,
.extra #language .dropdown-menu>li>a:hover {
 color: #1ab7dc;
}


.extra .dropdown-toggle:hover,
.extra .btn-group.open .dropdown-toggle {
  background-color: #1ab7dc;
}


.extra .dropdown-toggle:hover,
.extra .btn-group.open .dropdown-toggle {
  border-color: #1ab7dc;
}


/***************** FOOTER STYLE *****************/
.footer {

  background-color:#444;




  color: #888;

}



.footer__list__item:hover,
.footer__list--icon__item:hover {
  color: #ccc
}


.footer .box-heading {
  color: #ccc;
}


.footer a{
  color: #888;
}


.footer a:hover {
  color: #ccc;
}

/* Contact Information */


.contact li:before{
  color: #777;
}


.contact li:hover:before{
  background-color: #fff;
}


.contact li:hover:before{
  color: #777;
}


/***************** SOCIAL / NEWSLETTER STYLE *****************/
.social-icons__item:before{


  color: #666;


}

.social-icons__item:hover:before{


  color: #fff;


}


.newsletter__title {
  color: #545454
}


.newsletter__small-description {
  color: #888
}


.newsletter__input {

  background-color: #fff;


  border-color: #fff;


  color:  #9999;

}
.newsletter__input:-moz-placeholder { color: #9999; }
.newsletter__input::-moz-placeholder { color: #9999; }
.newsletter__input:-ms-input-placeholder { color: #9999; }
.newsletter__input::-webkit-input-placeholder { color: #9999; }

.newsletter__input:focus {


  border-color: #fff;


  color:  #999;

}

#newsletter-form .newsletter__submit-button {

  background-color: #1ab7dc;


  border-color: #1ab7dc;


  color:  #fff;

}

#newsletter-form .newsletter__submit-button:hover {



  color:  #fff;

}
/***************** POWERED STYLE *****************/
#powered {

background-color: #444;



border-color: #555;


color: #888;

}



#powered a{

color: #888;

}


#powered a:hover{

color: #ccc;

}


/************** PRODUCT STYLE *********************/

.product-price {
  color: #1ab7dc;
}


.product-price--old {
  color: #666;
}


.product-name a {
  color: #545454;
}


.product-sale {
  background-color: #FF9999;
}
.product-sale:before {
  border-color: transparent transparent #FF9999 transparent;
}
.product-sale:after {
  border-color: #FF9999 transparent transparent;
}


.product-sale {
  color: #AE4E42;
}

.product-detail-button--cart {

  color: #fff;


  background-color: #1ab7dc;


}
.product-detail-button--cart:hover {

  color: #fff;



}
a.product-detail-button--quick-view {

  color: #555555;



  border-color: #555555

}
a.product-detail-button--quick-view:hover {

  color: #fff;


  background-color: #1ab7dc;


  border-color: #1ab7dc

}
.product-detail-button--wishlist,
.product-detail-button--compare {

  color: #ddd;



  border-color: #eee;

}
.product-detail-button--wishlist:hover,
.product-detail-button--compare:hover {

  color: #1ab7dc;



  border-color: #1ab7dc;

}
/******************* BUTTON STYLE *******************/
.btn, a.btn {

  color: #1ab7dc;


  border-color: #1ab7dc;


  background-color: #fff;

}
.btn:hover, .btn:focus{

  background-color: #1ab7dc;


  color: #fff;


  border-color: #1ab7dc;

}


/******************* CAROUSEL STYLE *******************/

.carousel-module {
  background-color: #fff
}


.carousel-module {
  border-color: #eee
}

.owl-carousel.owl-theme .owl-controls .owl-nav [class*='owl-'] {

  color: #1ab7dc;


  background-color: #fff;


  border-color: #1ab7dc

}
.owl-carousel.owl-theme .owl-controls .owl-nav [class*='owl-']:hover {

  color: #fff;


  background-color: #1ab7dc;


  border-color: #1ab7dc

}