@import (reference) "_elements";

/*--------------------------------------------------------------
Elements
--------------------------------------------------------------*/
body {
  overflow :hidden;
}

a, a:focus, a:hover {
  outline: none;
  text-decoration: none;
}

[class*="col-"] {
  font-size: 14px;
  float: none;
}

.btn {
  position: relative;
  display: inline-block;
  outline: none;
  font-size: 14px;
  font-weight: 600;
  padding: 9px 30px;
  border: 2px solid transparent;
  background-color: transparent;
  overflow: hidden;
  .rounded(24px);
  .transi;
  &:hover, &:active, &:focus {
    box-shadow: none;
    outline: none !important;
    text-decoration: none;
    background-color: transparent;
  }
}

input[type="checkbox"] {
  vertical-align: top;
}

.buttons {
  padding-top: 30px;
}

.page-heading {
  font-size: 24px;
  font-weight: normal;
  text-transform: capitalize;
  margin-bottom: 30px;
}

.box-heading {
  font-size: 24px;
  font-weight: normal;
  text-transform: capitalize;
  padding: 18px 30px;
  margin-bottom: 40px;
}

.row-heading {
  font-size: 26px;
  font-weight: normal;
  margin-bottom: 20px;
}

#content {
  position: relative;
  margin-bottom: 30px;
}

.kl-main-content {
  position: relative;
  z-index: 0;
  padding-top: 30px;
}

.kls-container {
  z-index: -1;
}

.common-home {
  #content {
    margin-bottom: 0;
  }
}

.navbar,
.btn-group-lg > .btn,
.dropdown-menu,
.well,
.list-group-item:first-child,
.list-group-item:last-child,
.breadcrumb,
.panel-heading,
.panel-group .panel,
.alert {
  .rounded(0);
}

.panel-group {
  margin-top: 20px;
}

.dropdown-menu {
  border: none;
  top: 120%;
  display: block;
  visibility: hidden;
  opacity: 0;
  .transi;
}

.close {
  .transi;
}

.open > .dropdown-menu {
  visibility: visible;
  opacity: 1;
  top: 100%;
}

/*** login popup ***/
#login-popup {
  position: relative;
  max-width: 500px;
  background: #ffffff;
  font-size: 0;
  margin: auto;
  padding: 50px 15px 15px;
  &.login-popup--2-cols {
    max-width: 730px;
    padding: 30px;
  }
}

/*** breadcrumb ***/
.breadcrumb {
  font-size: 14px;
  padding: 6px 0 20px;
  border-bottom: 2px solid transparent;
  > li {
    > a {
      line-height: 15px;
      display: inline-block;
      vertical-align: middle;
    }
    + li:before {
      .fafont;
      content: "\f105";
      font-size: 20px;
      display: inline-block;
      line-height: 20px;
      vertical-align: middle;
      margin: 0 5px;
    }
  }
}

.form-horizontal .form-group {
  font-size: 0;
}

legend {
  &:extend(.row-heading all);
}

div.required .control-label:before {
  content: '* ';
  color: #F00;
  font-weight: bold;
}

.alert {
  padding: 20px;
  position: relative;
  button.close {
    position: absolute;
    top: 10px;
    right: 15px;
  }
}

// Collapse
.panel-default {
  box-shadow: none;
  >.panel-heading {
    border: 1px solid transparent;
    padding: 16px 30px;
    .rounded(24px);
  }
  .panel-title {
    font-size: 14px;
  }
  .panel-body {
    padding: 30px 15px;
  }
}

// Modal dialog
.modal {
  overflow: hidden;
  background-color: rgba(11,11,11,0.6);
  &-dialog {
    position: fixed;
    top: 50% !important;
    left: 50% !important;
    .translate(-50%, -50%) !important;
  }
  &-content {
    border-radius: 0;
    box-shadow: none;
  }
  &-header {
    padding: 20px 15px 0;
    border: none;
  }
  &-title {
    &:extend(.page-heading);
  }
  &-body {
    font-size: 13px;
    padding: 20px 15px;
  }
  .close {
    font-size: 40px;
    margin-top: -15px;
  }
}

// Site map
.sitemap {
  &__item {
    &:extend(.row-heading all);
  }
  &-sub {
    font-size: 14px;
    font-weight: 300;
    text-transform: none;
    letter-spacing: normal;
    &__item {
      margin: 5px 20px;
    }
  }
}

// promotion
.promotion {
  padding: 50px 0;
}

/*************** COLOR ****************/
.alert {
  .box-shadow(0 1px 5px rgba(0, 0, 0, 0.46));
}

.box-heading {
  color: #999999;
  background-color: #eeeeee;
}

.row-heading {
  color: #444444;
}

.breadcrumb {
  background-color: #ffffff;
  border-bottom-color: #dddddd;
  > li {
    a {
      color: #999999;
    }
    &:last-child {
      > a {
        color: @color1;
      }
    }
    +li:before {
      color: #999999;
    }
  }
}

.panel-default {
  border-color: transparent;
  > .panel-heading {
    color: @color1;
    border-color: @color1;
    background-color: transparent;
    &.active {
      color: #ffffff;
      border-color: transparent;
      background-color: @color1;
      a:hover {
        color: #ffffff;
      }
    }
    +.panel-collapse {
      > .panel-body {
        border-top-color: transparent;
      }
    }
  }
}

.error {
  color: #f00;
}

.owl-carousel {
  &.owl-theme {
    .owl-dots {
      .owl-dot {
        span {
          background-color: #ccc;
        }
        &.active, &:hover{
          span {
            background-color: #666;
          }
        }
      }
    }
  }
}

.skin2 {
  .breadcrumb {
    > li {
      &:last-child {
        > a {
          color: @color2;
        }
      }
    }
  }
  .panel-default {
    border-color: transparent;
    > .panel-heading {
      color: @color2;
      border-color: @color2;
      &.active {
        color: #ffffff;
        background-color: @color2;
      }
    }
  }
}

.skin3 {
  .breadcrumb {
    > li {
      &:last-child {
        > a {
          color: @color3;
        }
      }
    }
  }
  .panel-default {
    border-color: transparent;
    > .panel-heading {
      color: @color3;
      border-color: @color3;
      &.active {
        color: #ffffff;
        background-color: @color3;
      }
    }
  }
}