@import (reference) "_elements";

/*--------------------------------------------
BOX CATEGORY
----------------------------------------------*/
.box-category {
  &__item {
    position: relative;
    ul {
      display: none;
      width: 100%;
    }
    > .toggle {
      position: absolute;
      top: 0;
      right: 0;
      text-align: center;
      width: 40px;
      height: 40px;
      cursor: pointer;
      &:before {
        .fafont;
        content: '\f0da';
        font-size: 13px;
        line-height: 40px;
        font-weight: bold;
        display: inline-block;
      }
    }

    &.active {
      border-bottom: 1px solid transparent;
      padding: 0 !important;
      > a {
        display: block;
        padding: 10px 20px;
      }
      > .toggle {
        &:before {
          content: '\f0d7';
        }
      }
      ul {
        display: block;
      }
    }
  }
}

.box-category__sub {
  padding: 0 20px;
  &__item {
    text-transform: none !important;
    &:last-child {
      a {
        border-bottom: none;
      }
    }
    a {
      display: block;
      border-bottom: 1px solid transparent;
      padding: 10px 0;
      &:before {
        content: "";
        margin: 0 10px;
      }
    }
  }
}

/*************** SKIN ****************/
.box-category {
  &__item {
    &.active {
      border-bottom-color: #dddddd !important;
      &:hover {
        background-color: #ffffff !important;
      }
      > a {
        color: #ffffff !important;
        background-color: #555555;
      }
    }
    > .toggle {
      color: #ffffff;
    }
  }
  &__sub {
    &__item {
      a {
        border-color: #dddddd;
      }
    }
  }
}