@import (reference) "_elements";

/*--------------------------------------------------------------
Kuler Live Search
--------------------------------------------------------------*/
.live-search-container {
  font-size: 0;
  .dropdown-menu {
    display: none;
    right: 0;
    opacity: 1;
    visibility: visible;
    width: 100%;
    max-height: 480px;
    overflow-x: hidden;
    overflow-y: auto;
    padding-top: 20px;
    padding-bottom: 0;
    margin: 0;
    .product-layout {
      text-align: start;
      border: none;
      padding: 0 15px;
      margin-bottom: 0;
      > .row {
        padding: 20px 0;
        margin: 0;
      }
      .left {
        padding: 0 10px;
      }
      .right {
        padding-left: 0;
      }
      .product-thumb {
        float: none;
        width: 100%;
        img {
          .transition(0);
        }
        &__secondary {
          &:before {
            display: none;
          }
          display: none;
        }
      }
      .product-sale {
        display: none;
      }
      .product-name {
        font-size: 16px;
      }
      .product-price {
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 10px;
        &--old {
          display: inline-block;
        }
      }
      &:hover {
        .product-thumb {
         img {
           .translate(0, 0);
         }
        }
        .product-detail {
          margin-top: 10px;
        }
        .product-price {
          opacity: 1;
          visibility: visible;
          line-height: inherit;
        }
      }
    }
    .product-detail {
      position: relative;
      margin-top: 10px;
      margin-left: -10px;
      margin-right: -10px;
      .translate(0, 0);
      &-button {
        border: none;
        margin: 0;
        width: 25px;
        height: 25px;
        opacity: 1;
        visibility: visible;
        vertical-align: top;
        padding: 0;
        .translate(0, 0);
        &:before {
          font-size: 14px;
          margin: 0;
        }
        &--cart {
          font-size: 0;
          .rounded(100%);
        }
        &--quick-view {
          display: none;
        }
        &--wishlist, &--compare {
          &:before {
            line-height: 14px;
          }
        }
      }
    }
    .live-search-load-more {
      padding: 10px 0;
      border: none;
    }
    .live-search-no-result {
      text-align: center;
      padding: 20px 0;
    }
  }
  .kf_manufacturer, .kf_category {
    font-size: 15px;
    height: 42px;
    background-color: transparent;
    padding: 0 15px;
  }
}

@media @md {
  .live-search-container {
    &--normal {
      #search-inner {
        .kf_search {
          border-left-width: 0;
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
        }
      }
      select[class*="kf_"] {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-right-width: 1px;
      }
    }
    &--full {
      #search-inner {
        margin-top: 10px;
      }
      &#search .button-search {
        top: 60px;
      }
      .kf_category {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-right-width: 0 !important;
      }
      .kf_manufacturer {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-left-width: 1px !important;
      }
    }
    .kf_category, .kf_manufacturer {
      width: 170px;
      height: 50px;
      opacity: 1;
      display: inline-block !important;
      vertical-align: top;
      visibility: visible !important;
      background-position: 85% center;
      border: 2px solid;
    }
    .dropdown-menu {
      width: 290px;
    }
    #search-inner {
      display: inline-block;
    }
  }
}

@media @lg {
  .live-search-container {
    .dropdown-menu {
      width: 410px;
    }
  }
}

/******************* COLOR **********************/
.live-search-container {
  .dropdown-menu {
    .product-layout {
      > .row {
        border-bottom: 1px solid #eeeeee;
      }
    }
    .product-detail-button {
      color: @color1;
      background: none;
      &:hover {
        background-color: @color1;
        &:before {
          color: #ffffff;
        }
      }
    }
  }
  &--normal {
    .kf_manufacturer, .kf_category {
      border-color: transparent;
    }
  }
  .live-search-load-more {
    color: #878787;
    background-color: transparent;
  }
}

@media @md-max {
  .live-search-container {
    #search-inner {
      .kf_search {
        background-color: #ffffff;
        border-color: #dddddd !important;
      }
    }
    select[class*="kf_"] {
      background-color: #ffffff;
      border-color: #dddddd !important;
    }
  }
}

.skin2 {
  .live-search-container {
    .dropdown-menu {
      .product-detail-button {
        color: @color2;
        &:hover {
          background-color: @color2;
        }
      }
    }
  }
  @media @md {
    .live-search-container {
      &--normal {
        select {
          border-right-color: #dddddd !important;
        }
      }
    }
  }
}


.skin3 {
  .live-search-container {
    .dropdown-menu {
      .product-detail-button {
        color: @color3;
        &:hover {
          background-color: @color3;
        }
      }
    }
  }
  @media @md {
    .live-search-container {
      &--normal {
        select {
          border-right-color: #dddddd !important;
        }
      }
    }
  }
}