@import (reference) "_elements";

/*--------------------------------------------------------------
Products
--------------------------------------------------------------*/
.product-section {
  .product-layout {
    margin-bottom: 50px;
  }
}

.product-layout {
  position: relative;
  .transi;
}

.product-wrapper {
  overflow: hidden;
}

.product-thumb {
  position: relative;
  overflow: hidden;
  padding: 30px 0;
  img {
    margin: 0 auto;
    .transi;
  }
  &__primary{
    &__link {
      display: none;
    }
  }
  &__secondary {
    text-align: center;
    a {
      font-size: 0;
      z-index: 2;
      .absolute-center;
    }
    &:before {
      .transi;
    }
    .transi;
  }
}

.product-bottom-info {
  padding: 30px 0;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
}

.product-rating {
  font-size: 6px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.product-name {
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 5px;
}

.product-description {
  margin-bottom: 10px;
}

.product-price {
  font-size: 18px;
  font-weight: 700;
  &--old {
    display: inline-block;
    text-decoration: line-through;
    font-size: 14px;
    font-weight: 300;
    margin: 0 10px;
  }
  &-tax {
    display: block;
  }
}

.product-sale {
  font-size: 13px;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  .rounded(100%);
}

.product-detail {
  margin-top: 15px;
  &__row {
    display: inline-block;
    vertical-align: top;
  }
  &-button {
    font-size: 0;
    font-weight: 700;
    float: none;
    .transi;
    &:before {
      .fafont;
      font-size: 14px;
      line-height: 10px;
      text-align: center;
      display: inline-block;
      margin: 0 5px;
    }
    &--cart {
      font-size: 13px;
      font-weight: 700;
      text-transform: uppercase;
      border-width: 2px;
      padding: 9px 10px;
      margin: 5px 0;
      .rounded(20px);
      &:before {
        font-size: 18px;
        content: '\f07a';
      }
    }
    &--wishlist, &--compare {
      height: 40px;
      width: 40px;
      padding: 0;
      margin: 5px 0;
      .rounded(100%);
      &:before {
        line-height: 36px;
      }
    }
    &--wishlist {
      &:before {
        content: '\f004';
      }
    }
    &--compare {
      &:before {
        content: '\f0c9';
      }
    }
    &--quick-view {
      cursor: zoom-in;
      text-align: center;
      text-transform: uppercase;
      font-size: 13px;
      width: 145px;
      display: block;
      z-index: 2;
      border: 2px solid transparent;
      padding: 10px 15px;
      margin: 20px auto 0;
      .rounded(20px);
      &:before {
        content: '\f00e';
      }
    }
  }
}

@media @sm {
  //product-list
  .product-list {
    .transition;

    &.product-layout {
      margin: 0;
    }

    .product-wrapper {
      border: 1px solid transparent;
      border-top: none;
      font-size: 0;
      padding: 30px 15px;
    }

    .product-thumb {
      padding: 0 15px;
      margin: 0;
      float: right;
      width: percentage(1/4);
    }

    .product-bottom-info {
      display: none;
    }

    .product-left-info {
      display: inline-block !important;
      visibility: visible !important;
      text-align: start;
      width: percentage(3/4);
      padding: 0 15px;
    }

    .product-price {
      margin-bottom: 10px;
    }

    .product-sale {
      top: 20px;
      right: 40px;
    }

    .product-description {
      font-size: 13px;
      display: block !important;
      visibility: visible !important;
    }

    .product-detail {
      &__row {
        margin: 0 10px;
        button {
          margin: 5px;
        }
      }
    }
  }

  .product-detail {
    &-button {
      &--cart {
        padding: 10px 25px;
      }
    }
  }
}

@media @lg {

  .product-section {
    .product-grid.product-layout {
      margin-bottom: 30px;
    }
  }

  .product-layout {
    &:hover {
      .product-thumb__primary {
        img {
          .translate(0, 150%);
        }
        &--disable-swap_image {
          &:before {
            opacity: 1;
            visibility: visible;
          }
          img {
            .translate(0, 0);
          }
        }
      }
      .product-thumb__secondary {
        .translate(0, 0);
      }
      .product-detail-button {
        &--quick-view {
          opacity: 1;
          visibility: visible;
        }
      }
    }
    .product-thumb__primary {
      &--disable-swap_image {
        &:before {
          content: '';
          z-index: 1;
          opacity: 0;
          visibility: hidden;
          .transition;
          .absolute-center;
        }
      }
      &__link {
        display: block;
        font-size: 0;
        z-index: 1;
        .absolute-center;
      }
    }
    .product-thumb__secondary {
      &:before {
        content: '';
        z-index: 1;
        .absolute-center;
      }
      .absolute-center;
      .translate(0, -100%);
    }
  }

  .product-detail-button {
    &--quick-view {
      opacity: 0;
      visibility: hidden;
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: 0;
      .translate(-50%, -50%);
      .transition;
    }
  }
}

/*************** COLOR ****************/
.product-thumb {
  &__primary--disable-swap_image, &__secondary {
    &:before {
      background-color: rgba(255, 255, 255, 0.9);
    }
  }

  .product-rating {
    .fa-star-o {
      color: #ababab;
    }
    .fa-star {
      color: #ffc926;
      + .fa-star-o {
        color: #ffc926;
      }
    }
  }

  .product-description {
    color: #868686;
  }

  @media @lg {
    .product-grid:hover {
      .product-wrapper {
        border-color: #dddddd;
        .box-shadow(0 1px 4px 1px rgba(0, 0, 0, 0.12));
      }
    }

    .product-list {
      border-bottom-color: #dddddd;
      &:hover {
        border-color: @color1;
      }
    }

    .product-detail {
    }
  }
}

.product-bottom-info {
  border-color: #eeeeee;
}

.product-list {
  .product-wrapper {
    border-color: #dddddd;
  }
  .product-thumb {
    border-color: transparent;
  }
}