@import (reference) "_elements";

/*-------------------------------------------------
ADVANCED HTML
-------------------------------------------------*/
// Call Us
.callus {
  text-align: center;
  div[class*="callus__"] {
    display: inline-block;
    vertical-align: top;
  }
  &__icon {
    margin: 0 15px;
  }
  &__text {
    text-align: end;
    &__working-time {
      color: #ffffff;
    }
    &__phone {
      font-size: 16px;
      font-weight: 600;
      color: #EF775E;
    }
  }
}
@media @md {
  .callus {
    text-align: end;
    &__icon {
      height: 30px;
      width: 30px;
    }
  }
}
@media @lg {
  .callus {
    &__icon {
      height: 50px;
      width: 50px;
      margin-right: 15px;
    }
    &__text {
      text-align: end;
      &__working-time {
        font-size: 15px;
        color: #ffffff;
      }
      &__phone {
        font-size: 18px;
        font-weight: 600;
        color: #EF775E;
      }
    }
  }
}

// top banner
.top-banner {
  margin: 20px 0;
  &__box {
    position: relative;
    max-height: 270px;
    text-align: center;
    margin-bottom: 20px;
    overflow: hidden;
    border: 2px solid transparent;
    padding: 53px 0;
    &:before {
      content: '';
      background-color: #ffffff;
      .transform(rotate(-45deg), translate(-125%, 0));
      .absolute-center;
      .transi;
    }
    &:hover {
      &:before {
        .transform(rotate(-45deg), translate(-115%, 0));
      }
    }
    &--orange {
      background-color: #EF775E;
      border-color: #EF775E;
    }
    &--yellow {
      background-color: #E8C11E;
      border-color: #E8C11E;
    }
    &--green {
      background-color: #6FC5BA;
      border-color: #6FC5BA;
    }
    &--blue {
      background-color: #78ACD6;
      border-color: #78ACD6;
    }
  }
  &__icon {
    margin-bottom: 30px;
    .transi;
  }
  &__text {
    text-transform: uppercase;
    color: #ffffff;
    .transi;
  }
  &__title {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 5px;
    color: #ffffff;
    .transi;
  }
}

// bottom banner
.bottom-banner {
  margin-bottom: 80px;
  &__figure {
    position: relative;
    border: 2px solid #eeeeee;
  }
  &__figcaption {
    position: absolute;
  }
  &__title {
    font-size: 36px;
    font-weight: 300;
    margin-bottom: 5px;
  }
  &__description {
    font-size: 15px;
    font-weight: normal;
    color: #999999;
    margin-bottom: 15px;
  }
  .btn {
    font-size: 13px;
    text-transform: uppercase;
    padding: 7px 25px;
  }
  &__banner {
    &--right {
      .bottom-banner__figcaption {
        top: 36px;
        right: 15px;
        text-align: center;
      }
    }
    &--center {
      .bottom-banner__figcaption {
        top: 25px;
        left: 20px;
      }
      .bottom-banner__title {
        text-align: center;
      }
      .bottom-banner__description {
        margin-bottom: 20px;
      }
    }
    &--left {
      .bottom-banner__figcaption {
        top: 60px;
        left: 40px;
        text-align: center;
      }
    }
  }
}


//************** SKIN *******************/
.skin2 {
  .callus {
    &__icon {
      g {
        path {
          fill: #EF775E;
        }
      }
    }
    &__text {
      &__working-time {
        color: #444444;
      }
    }
  }
}

.skin3 {
  .callus {
    &__icon {
      g {
        path {
          fill: #EF775E;
        }
      }
    }
    &__text {
      &__working-time {
        color: #444444;
      }
    }
  }
}