@import (reference) "_elements";

/*--------------------------------------------------------------
Footer Block
--------------------------------------------------------------*/
.footer {

  &__container .row > [class*="col-"] {
    &:hover {
      .box-heading {
        &:after {
          width: 100%;
        }
      }
    }
  }

  &__row {
    &--top, &--bottom {
      padding: 60px 0;
    }
  }

  .box-heading {
    position: relative;
    font-size: 18px;
    font-weight: normal;
    text-transform: capitalize;
    padding: 17px 20px;
    margin-bottom: 30px;
    .transi;
  }
}

/* footer info */
.footer__info {
  font-weight: 300;
  img {
    margin-bottom: 25px;
  }
  &__content {
    font-size: 14px;
  }
}

/* footer list */
.footer__list {
  &__item {
    margin-bottom: 15px;
    > a {
      text-transform: capitalize;
    }
    &:before {
      .fafont;
      content: '\f101';
      margin-right: 10px;
      display: inline-block;
      .transi;
    }
  }
}

/* contact */
.contact {
  &__item {
    .transi;
    &:before {
      .fafont;
      font-size: 14px;
      text-align: center;
      width: 30px;
      height: 30px;
      line-height: 30px;
      float: left;
      display: inline-block;
      margin-left: 0;
      margin-right: 5px;
      .rounded(100%);
      .transi;
    }
    &--email:before {
      content: '\f0e0' !important;
    }
    &--skype:before {
      content: '\f041' !important;
    }
    &--mobile:before {
      content: '\f10b' !important;
    }
    &--phone:before {
      content: '\f095' !important;
    }
    &--fax:before {
      content: '\f1ac' !important;
    }
  }
  span {
    display: block;
    line-height: 30px;
    margin-left: 40px;
  }
}

/*- Powered -*/
#powered {
  font-size: 14px;
  border: 1px solid transparent;
  padding: 40px 0;
    .payment {
      li {
        display: inline-block;
      }
    }
  }

@media @md {
    #powered {
      .payment {
        text-align: end;
      }
    }
  }

/***************** COLOR **********************/
.footer {
  .box-heading {
    background-color: #555555;
  }
}

.footer__list {
  &__item {
    &:hover {
      &:before {
        color: @color1;
      }
    }
  }
}

.skin2 {
  .footer__list {
    &__item {
      &:hover {
        &:before {
          color: @color2;
        }
      }
    }
  }
}

.skin3 {
  .footer__list {
    &__item {
      &:hover {
        &:before {
          color: @color3;
        }
      }
    }
  }
}