@import (reference) "_elements";

/*--------------------------------------------------------------
Header Block
--------------------------------------------------------------*/
.header {
  position: relative;
  z-index: 1;
  padding-top: 20px;
}

#logo {
  text-align: center;
}

/* Normal Search */
#search {
  position: relative;
  text-align: center;
  input {
    display: inline-block;
    vertical-align: middle;
    font-size: 15px;
    border: 2px solid transparent;
    background-color: transparent;
    width: 290px;
    height: 50px;
    padding: 10px 15px;
    .rounded(25px);
    .transi;
  }
  .button-search {
    position: absolute;
    right: 2px;
    top: 2px;
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
    cursor: pointer;
    &:before {
      .fafont;
      content: '\f002';
      display: inline-block;
      font-size: 20px;
      height: 46px;
      width: 50px;
      line-height: 48px;
      text-align: center;
      border-top-right-radius: 25px;
      border-bottom-right-radius: 25px;
      .transi;
    }
  }
}

/* iOC7 menu */
.ioc7-menu {
  max-width: 320px;
  padding: 0 15px 15px;
  margin: 0 auto;
}

/* Mini cart */
.mini-cart {
  text-align: center;
  position: relative;
  &.open {
    .mini-cart__button {
      box-shadow: none;
    }
  }
  &--empty {
    text-align: center;
    padding: 50px 0 80px;
    &:before {
      .kulerfont;
      content: '\e62b';
      font-size: 64px;
      display: block;
      margin-bottom: 35px;
    }
  }
  &__title {
    padding: 0 20px;
    p {
      padding: 20px 0;
    }
  }
  &__header {
    padding: 5px 0;
    &:after {
      .fafont;
      content: '\f07a';
      font-size: 18px;
      width: 42px;
      height: 42px;
      line-height: 38px;
      display: inline-block;
      vertical-align: top;
      border: 2px solid transparent;
      padding-right: 3px;
      .rounded(100%);
    }
  }
  &__button {
    display: block;
    text-transform: none;
    font-size: 15px;
    font-weight: 400;
    border: none;
    padding: 0;
    .rounded(0);
    &.btn {
      background-color: transparent;
    }
  }
  #cart-total {
    text-align: center;
    line-height: 42px;
    font-size: 15px;
    font-weight: 500;
    display: inline-block;
    padding: 0 10px;
  }
  &__info {
    top: 100px;
    visibility: hidden;
    opacity: 0;
    width: 100%;
    max-height: 480px;
    overflow-x: hidden;
    overflow-y: auto;
    margin: 0;
    padding: 0;
    .transi;
  }
  &__item {
    border-top: 1px solid transparent;
    padding: 15px;
    margin: 0;
  }
  &__product-image {
    img {
      border: 1px solid transparent;
      padding: 5px;
    }
  }
  &__product-name {
    font-size: 14px;
    margin-bottom: 5px;
  }
  &__total {
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    padding: 15px 0;
    &__price {
      float: right;
    }
  }
  &__checkout {
    padding: 20px 0;
    text-align: center;
    font-size: 0;
    .btn {
      font-size: 16px;
      display: inline-block;
      padding: 8px 15px;
      margin: 0 5px;
      &:before {
        .fa;
        display: inline-block;
        vertical-align: middle;
        margin: 0 5px;
      }
    }
  }
  &__view-cart-btn {
    &:before {
      content: '\f07a';
    }
  }
  &__checkout-btn {
    &:before {
      content: '\f112';
      .transform(rotateY(180deg));
    }
  }
  &__remove {
    padding: 0;
    margin-top: 10px;
    .close {
      opacity: 1;
      float: none;
      border: 1px solid transparent;
      height: 40px;
      width: 40px;
      padding: 5px;
      .rounded(8px);
      .fa-trash-o:before {
        line-height: 30px;
      }
    }
  }
}

@media @sm {
  #search {
    input {
      width: 610px;
    }
  }

  .ioc7-menu {
    min-width: 640px;
  }
}

@media @md {
  .header {
    padding-top: 30px;
    > .container > .row {
      > [class*="col-"] {
        position: relative;
        vertical-align: middle;
        &:last-child {
          vertical-align: bottom;
        }
      }
    }
  }

  #logo {
    text-align: start;
    padding-left: 15px;
    padding-top: 8px;
    padding-bottom: 0;
  }

  #search {
    text-align: end;
    input {
      width: 290px;
    }
  }

  .ioc7-menu {
    min-width: 960px;
  }
}

@media @lg {

  .header {
    padding-top: 50px;
  }

  #search {
    input {
      width: 410px;
    }
  }

  .ioc7-menu {
    position: relative;
    max-width: 1200px;
    padding: 0;
  }

  .mini-cart {
    position: absolute;
    top: 50%;
    right: 0;
    .translate(0, -50%);
    &__header {
      padding: 5px 10px;
    }
    &__info {
       max-height: 800px;
       width: 300px;
       left: auto;
       right: 0;
     }
    #cart-total {
      font-weight: 600;
       border: 2px solid transparent;
       border-right: none;
     }
    &__checkout {
      .btn {
        width: 130px;
      }
    }
   }

  // fixed header
  .headerfix {
    .transition;
    &--not-top {
      position: fixed;
      top: 0;
      z-index: 999;
      width: 100%;
      padding-top: 10px;
      .navigation {
        margin-top: 10px;
        .main-nav__item {
          &--custom {
            .main-nav__secondary-nav {
              padding-top: 30px;
            }
          }
        }
      }
      &.headerfix--pinned {
        .box-shadow(0 3px 7px 0 rgba(0, 0, 0, 0.3));
      }
    }
    &--unpinned {
      .navigation {
        .main-nav__item {
          .main-nav__secondary-nav {
            opacity: 0;
            visibility: hidden;
          }
        }
      }
      .translate(0, -100%);
    }
  }

  .boxed {
    .headerfix--not-top {
      max-width: 1200px;
    }
    .navigation {
      width: auto;
      margin-left: 0;
      margin-right: 0;
    }
  }
}

/*************** SKIN *******************/
.skin1.common-home {
  @media @lg {
    .header {
      position: absolute;
      width: 100%;
    }

    // fixed header
    .headerfix {
      &--not-top {
        position: fixed;
        .navigation {
          padding: 10px 0;
        }
        +.kls-container {
          z-index: inherit;
        }
      }
    }
  }
}

.skin1 {
  #search {
    .button-search:before {
      content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAMAAABhEH5lAAAALVBMVEX///////////////////////////////////////////////////////////+g0jAFAAAADnRSTlMAECAwQGBwgJCgsNDg8NZSVoAAAABwSURBVHjalY5BFoAgCEQBNUKQ+x+3VDI3LZoNvD/DY+AWSXN3LbBUXBIAFlN8SEuxSTDytPJVpjVH2NRHnEVsvHDYxPyFcEPnQHtDsDxq2UuO2HW1SC3PBbXSzDR/XBSvzKdZlsWACjP3o2Cv/jC9ACulAy4n/aSpAAAAAElFTkSuQmCC);
    }
  }
}


/*************** COLOR *******************/
#search {
  .button-search {
    &:before {
      color: #ffffff;
      background-color: @color1;
    }
  }
}

.mini-cart {
  &__item {
    border-top-color: #dddddd;
  }
  &__total {
    color: #aaaaaa;
    border-color: #dddddd;
    &__price {
      color: @color1;
    }
  }
  &__product-image {
    img {
      border-color: #dddddd;
    }
  }
  &__product-total {
    color: @color1;
  }
  &__remove {
    .close {
      color: #aaaaaa;
      border-color: #aaaaaa;
    }
  }
}

@media @lg {
  #search {
    .button-search {
      &:before {
        background-color: transparent;
      }
      &:hover {
        &:before {
          background-color: @color1;
        }
      }
    }
  }
}

.skin1 {
  .header {
    background-color: rgba(0, 0, 0, .8);
  }
  .headerfix {
    &--not-top {
      background-color: rgba(0, 0, 0, .8)
    }
  }
}

.skin2 {
  #search {
    .button-search {
      &:before {
        background-color: @color2;
      }
    }
  }

  .mini-cart {
    &__total {
      &__price {
        color: @color2;
      }
    }
    &__product-total {
      color: @color2;
    }
  }
}

.skin3 {
  #search {
    .button-search {
      &:before {
        background-color: @color3;
      }
    }
  }

  .mini-cart {
    &__total {
      &__price {
        color: @color3;
      }
    }
    &__product-total {
      color: @color3;
    }
  }
}