@import (reference) "_elements";

/*-------------------------------------
KULER BLOG MODULE
-------------------------------------*/
.blog-feed {
  position: absolute;
  right: 15px;
}

.article {
  margin-bottom: 50px;
  &__extra-info {
    text-align: start;
    font-size: 0;
    margin: 10px 0;
    time, a {
      font-size: 13px;
      margin-right: 15px;
    }
    span:before, time:before {
      .kulerfont;
      font-size: 14px;
      margin-right: 5px;
    }
    &__author {
      &:before {
        content: "\e60e";
      }
    }
    &__category {
      &:before {
        content: "\e610";
      }
    }
    &__date {
      &:before {
        content: "\e60c";
      }
    }
    &__comment-total {
      &:before {
        content: '\e612';
      }
    }
  }
  &__image {
    overflow: hidden;
    position: relative;
    text-align: center;
  }
  &__info {
    padding-left: 0;
  }
  &-image {
    margin: 0 !important;
  }
  &__title {
    display: block;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 5px;
  }
  &__date {
    font-size: 12px;
  }
  &__description {
    font-size: 14px;
    line-height: 1.75em;
    margin-top: 5px;
  }
  &__latest-update {
    text-align: end;
    font-size: 13px;
  }
  &__read-more {
    .btn {
      font-size: 13px;
      text-transform: uppercase;
      padding: 10px;
      margin-top: 20px;
      .rounded(0);
      &:after {
        display: block;
        content: '';
        height: 1px;
        width: 100%;
      }
    }
  }
  &__header {
    h2 {
      font-size: 20px;
      margin-bottom: 10px;
    }
  }
  &__content {
    text-align: start;
  }
}

.article-list {
  .article {
    font-size: 0;
    text-align: start;
    padding: 20px 0;
    margin-bottom: 20px;
  }
}

.related-articles {
  padding-top: 50px;
  ul {
    float: none !important;
    width: auto !important;
    margin-right: 20px;
    > li {
      margin: 10px 0;
      &:before {
        .fafont;
        content: '-';
        margin: 0 10px;
      }
    }
  }
}

.comment {
  .clear;

  &-container {
    margin-top: 50px;
    padding: 0 !important;
  }

  &-stats {
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
    padding: 10px 20px;
  }

  &-list {
    padding: 20px 0;
  }

  .author, .message {
    margin-left: 130px !important;
  }

  .author {
    font-size: 16px;
    margin-bottom: 5px;
    &-badge {
      font-size: 12px;
      text-transform: none;
      margin: 0 10px;
      padding: 5px;
    }
  }

  .date {
    display: inline;
    margin-left: 30px !important;
  }

  .message {
    font-size: 13px;
    margin-top: 10px;
  }

  .reply {
    display: inline-block;
    cursor: pointer;
    padding: 5px 10px;
    margin: 0 10px;
    .transi;
  }

  #comment-form {
    display: inline-block;
  }
}

.reply-list {
  margin-left: 30px;
  .comment {
    padding: 20px !important;
    margin-bottom: 10px;
  }
  &.comment-list {
    border: none;
  }
}

#comment-form {
  margin-top: 30px;

  &__title {
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 12px 20px;
    margin-bottom: 10px;
    &:before {
      line-height: 12px;
      vertical-align: top;
    }
  }

  #captcha {
    margin-top: 10px;
  }

  #comment-submit {
    margin-top: 20px;
  }

  form {
    float: none;
  }

  #reply-cancel {
    float: none !important;
    margin-top: 20px !important;
  }
}

//side bar setting
.side-bar {
  .articles {
    margin: 0;
  }
  .article {
    width: 100%;
    padding: 20px 10px;
    margin-bottom: 0;
    &__date {
      display: block;
      &--absolute {
        display: none !important;
        visibility: hidden !important;
      }
    }
    &__title {
      font-size: 14px;
      text-transform: none;
      padding: 0;
      margin: 0;
    }
    &__description {
      padding: 0;
      margin: 0;
    }
    &__info {
      padding: 0 10px;
    }
  }
}

/* BLOG CATEGORY */
.kbm-category {
  .treemenu {
    > li {
      padding: 15px;
      .transi;
      &:before {
        content: '+';
        font-size: 15px;
        line-height: 15px;
        font-weight: bold;
        display: inline-block;
        margin-right: 10px;
      }
    }
  }
}

@media @sm-max {
  .comment {

    .author, .message {
      margin-left: 70px !important;
    }

    .author-badge {
      margin: 0;
    }

    .date {
      margin-left: 10px !important;
    }

    .reply {
      margin: 0;
    }

    .avatar {
      width: 60px;
      height: 60px;
    }
  }

  .reply-list {
    margin: 0;
  }

  #comment-form {
    form {
      width: 100%;
    }
  }
}

/******************* SKIN ******************/
.article {
  &__extra-info a, &__extra-info time, &__date {
    color: #aaaaaa;
  }
  &__extra-info {
    span:before, time:before {
      color: #999999;
    }
  }
  &__description {
    color: #888888;
  }
  &__date--absolute {
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.5);
  }
  &__read-more {
    .btn {
      color: @color1;
      border-color: transparent;
      background-color: transparent;
      &:hover {
        color: @color1;
        border-color: transparent;
        background-color: transparent;
      }
      &:after {
        background-color: @color1;
      }
    }
  }
}

.article-list {
  .article {
    border-bottom: 1px solid #eeeeee;
  }
}

.side-bar {
  .article {
    border-bottom: 1px solid #eeeeee;
  }
  .kbm-recent-article {
    .recent-article {
      &__title, &__date {
        color: @color1;
      }
      &__description {
        color: #666;
      }
    }
  }
}

.kbm-category {
  .treemenu {
    > li{
      &:before {
        color: #999999;
      }
      &:hover {
        border-color: #ccc;
      }
    }
  }
}

.related-articles {
  border-top: 1px solid #eee;
}

.comment {
  background-color: transparent !important;
  &-list {
    border-bottom: 1px solid #eeeeee;
  }
  &-container {
    background-color: transparent !important;
  }
  &-stats {
    color: #444444;
    background-color: #eeeeee;
  }
  .date, .message {
    color: #888888;
  }
  .author {
    &-badge {
      background-color:#ccc;
    }
  }
}

.reply-list {
  .comment {
    background-color: #f5f5f2 !important;
  }
}

@media @lg {
  .article {
    &__image {
      &:before {
        background-color: rgba(0, 0, 0, 0.7);
      }
      a {
        color: #ffffff !important;
        &:before {
          border: 2px solid #ffffff;;
        }
      }
    }
  }
}

.skin2 {
  .article {
    &__read-more {
      .btn {
        color: @color2;
        &:hover {
          color: @color2;
        }
        &:after {
          background-color: @color2;
        }
      }
    }
  }

  .side-bar {
    .kbm-recent-article {
      .recent-article {
        &__title, &__date {
          color: @color2;
        }
      }
    }
  }
}

.skin3 {
  .article {
    &__read-more {
      .btn {
        color: @color3;
        &:hover {
          color: @color3;
        }
        &:after {
          background-color: @color3;
        }
      }
    }
  }

  .side-bar {
    .kbm-recent-article {
      .recent-article {
        &__title, &__date {
          color: @color3;
        }
      }
    }
  }
}