@import (reference) "_elements";

/*--------------------------------------------------------------
Kuler Filter
--------------------------------------------------------------*/
.kuler-filter {
  .box-content {
    padding: 0 20px 20px;
  }
  .filter-group {
    margin-bottom: 10px;
    &__title {
      font-size: 14px;
      font-weight: 600;
      text-transform: uppercase;
      margin-top: 15px;
      margin-bottom: 5px;
    }
  }
  .ui-slider-horizontal {
    border: none;
    height: 10px;
    width: 100%;
    margin-left: -10px;
    .ui-slider-handle {
      outline: 0;
      cursor: pointer;
      margin-left: 0;
      .rounded(100%);
    }
    .ui-slider-range {
      border: none;
      height: 10px;
    }
  }
  .buttons {
    text-align: end;
  }
}

/************** Skin *******************/
.kuler-filter {
  .filter-group {
    &__select {
      background-color: #ffffff;
    }
  }
  .ui-slider-horizontal {
    background: #dddddd;
    .ui-slider-handle {
      background: #ffffff;
      border: 1px solid #dddddd;
    }
    .ui-slider-range {
      background: @color1;
    }
  }
}

.skin2 {
  .kuler-filter {
    .ui-slider-horizontal {
      .ui-slider-range {
        background: @color2;
      }
    }
  }
}

.skin3 {
  .kuler-filter {
    .ui-slider-horizontal {
      .ui-slider-range {
        background: @color3;
      }
    }
  }
}