@import (reference) "_elements";
/*--------------------------------------------------------------
Kuler Slider Module
--------------------------------------------------------------*/
.kls-container{
	//margin-bottom: 15px;
}
/***************768px****************/
@media @sm {

}
/***************1024px****************/
@media @md {

}
/***************1200px****************/
@media @lg {

}
/***************skin****************/