@import (reference) "_elements";

/*--------------------------------------------------------------
Kuler Showcase Module
--------------------------------------------------------------*/
.kuler-showcase-module {
  position: relative;
  margin: 30px 0;

  .box-heading {
    margin: 0;
  }

  // navigation
  .nav {
    span {
      font-size: 0;
      position: absolute;
      top: 16px;
      right: 20px;
      cursor: pointer;
      &:before {
        .fafont;
        content: '\f105';
        font-size: 25px;
        width: 40px;
        height: 40px;
        border: 2px solid transparent;
        line-height: 36px;
        display: block;
        text-align: center;
        .rounded(100%);
        .transi;
      }
      &.prev {
        right: 65px;
        &:before {
          content: '\f104';
        }
      }
    }
  }

  // tab
  .tab-heading {
    text-align: center;
    background: none;
    padding: 25px;
    margin: 0;
    span {
      font-size: 18px;
      cursor: pointer;
      display: inline-block;
      padding: 10px 20px;
      border: 2px solid transparent;
      .rounded(25px);
      .transi;
    }
  }

  .box-product {
    margin: 30px 0;
  }
}

#kuler-accordion {
  margin-bottom: 50px;
  .item-title {
    font-size: 13px;
    cursor: pointer;
    background-color: transparent;
    span {
      display: inline-block;
      line-height: 45px;
      padding-left: 15px;
      padding-right: 15px;
      user-select: none;
      -moz-user-select: none;
      -webkit-user-select: none;
    }
  }

  /* HORIZONTAL */
  .horizontal {
    border: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: relative;
    box-sizing: content-box;
    background-color: #ffffff;
    -webkit-perspective: 1000;
    -webkit-backface-visibility: hidden;
    -webkit-tap-highlight-color: transparent;
    .item-title {
      overflow: hidden;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;
      text-align: end;
      border-bottom: none;
      .transform(translateX(-100%) rotate(-90deg));
      .transform-origin(right, top);
      -webkit-backface-visibility: hidden; /* fixes chrome bug */
    }
    .item-content {
      z-index: 1;
      overflow: hidden;
      position: absolute;
      top: -1px;
      margin: 0;
      border-top: none;
      border-left: none;
    }
  }

  /* FIX FOR IE */
  .horizontal.box-content.ie .item-title,
  .horizontal.box-content.ie .item-title span {
    filter: none;
    -ms-filter: none;
    -ms-transform: none
  }
  .horizontal.box-content.ie7 .item-title {
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3)
  }
  .horizontal.box-content.ie8 .item-title {
    -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=3)"
  }
  .horizontal.box-content.ie9 .item-title {
    -ms-transform: translateX(-100%) rotate(-90deg);
    -ms-transform-origin: right top
  }
}

// Deal
.product-deal-countdown {
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
  .countdown-section {
    display: inline-block;
    padding: 5px;
    margin: 0 5px 5px;
    span {
      display: block;
    }
  }
  .countdown-amount {
    font-weight: 500;
    font-size: 16px;
  }
  .countdown-period {
    font-size: 12px;
  }
}

// Setup for sidebar
.side-bar {
  .kuler-showcase-module {
    .box-product {
      margin: 0;
    }
    .product-layout {
      width: 100%;
      padding: 10px;
      &:hover {
        .product-wrapper {
          box-shadow: none;
          border-color: transparent;
        }
        .product-thumb__primary {
          img {
            .translate(0, 0);
          }
        }
      }
      .product-thumb {
        float: left;
        width: 30%;
        padding: 0;
        &__secondary {
//          display: none;
        }
      }
      .product-bottom-info {
        border: none;
        background: none;
        float: left;
        width: 70%;
        padding: 0 5px;
      }
      .product-name, .product-price {
        margin: 0 0 5px;
        width: 100%;
      }
      .product-price {
        font-size: 16px;
        line-height: normal;
        opacity: 1;
        visibility: visible;
      }
      .product-price--badge {
        display: none;
      }
      .product-rating {
        margin-top: 5px;
      }
      .product-sale {
        display: none;
      }
      .product-deal-countdown {
        display: none;
      }
      .product-detail {
        margin: 0;
        &-button {
          font-size: 0;
          width: 30px;
          height: 30px;
          &:before {
            line-height: 26px;
          }
          &--cart {
            padding: 0;
            margin: 0;
            &:before {
              font-size: 14px;
            }
          }
          &--quick-view {
            padding: 0;
            margin-top: 0;
          }
        }
        &__row {
          opacity: 1;
          visibility: visible;
          display: inline-block;
          padding: 0;
          button {
            margin: 0 5px;
          }
        }
      }
    }
  }

  // navigaion
  .nav {
    span {
      &:before {
        width: 30px;
        height: 30px;
        line-height: 26px;
      }
      &.prev {
        right: 55px;
      }
    }
  }
}

@media @sm {
  .kuler-showcase-module {
    .product-layout {
      .product-detail {
        &-button {
          &--cart {
            padding: 10px 20px;
          }
        }
      }
    }
  }
}

@media @md {
  .side-bar {
    .kuler-showcase-module {
      .product-layout {
        .product-detail {
          &-button {
            &--quick-view {
              margin-top: 32px;
            }
          }
        }
      }
    }
  }
}

@media @lg {
  .side-bar {
    .kuler-showcase-module {
      .product-layout {
        .product-detail {
          &-button {
            &--quick-view {
              margin-top: 0;
            }
          }
        }
      }
    }
  }
}

/********************* SKIN *********************/
.kuler-showcase-module {
  .nav {
    span {
      &:before {
        color: #dddddd;
        border-color: #dddddd;
      }
      &:hover {
        &:before {
          color: #ffffff;
          background-color: @color1;
          border-color: @color1;
        }
      }
    }
  }
  .tab-heading {
    background-color: #eeeeee;
    span {
      color: #999999;
      border-color: #cccccc;
      &:hover, &.active {
        color: #ffffff;
        border-color: @color1;
        background-color: @color1;
      }
    }
  }
}

#kuler-accordion {
  .item-title {
    color: @color1;
    border: 1px solid #ddd;
    background-color: #ffffff;
    &.selected {
      background-color: rgba(238, 238, 238, .5);
    }
  }
}

.product-deal-countdown {
  .countdown-section {
    color: @color1;
    .countdown-period {
      color: #bbb;
    }
  }
}

.side-bar {
  .kuler-showcase-module {
    .product-layout {
      border-bottom: 1px solid #eeeeee;
    }
  }
}

.skin2 {
  .kuler-showcase-module {
    .nav {
      span {
        &:hover {
          &:before {
            background-color: @color2;
            border-color: @color2;
          }
        }
      }
    }
    .tab-heading {
      span {
        &:hover, &.active {
          border-color: @color2;
          background-color: @color2;
        }
      }
    }
  }

  .product-deal-countdown {
    .countdown-section {
      color: @color2;
    }
  }
}

.skin3 {
  .kuler-showcase-module {
    .nav {
      span {
        &:hover {
          &:before {
            background-color: @color3;
            border-color: @color3;
          }
        }
      }
    }
    .tab-heading {
      span {
        &:hover, &.active {
          border-color: @color3;
          background-color: @color3;
        }
      }
    }
  }

  .product-deal-countdown {
    .countdown-section {
      color: @color3;
    }
  }
}