@import (reference) "_elements";
/*------------------------------------------------------
CAROUSEL MODULE
------------------------------------------------------*/
.carousel-module {
  position: relative;
  border: 2px solid transparent;
  margin: 30px 0 70px;
  .owl-carousel {
    padding: 30px 0;
  }
}

.owl-carousel {
  &.owl-theme {
    .owl-controls {
      margin: 0;
      .owl-nav {
        [class*="owl-"] {
          text-align: center;
          position: absolute;
          top: 50%;
          font-size: 0;
          z-index: 1;
          height: 40px;
          width: 40px;
          background: transparent;
          border: 2px solid transparent;
          padding: 0;
          margin: 0;
          .transi;
          .rounded(100%);
          .translate(0, -50%);
          &:before {
            .fafont;
            font-size: 25px;
            line-height: 36px;
            display: inline-block;
            vertical-align: middle;
          }
        }
      }
      .owl-prev {
        left: 0;
        &:before {
          content: '\f104';
        }
      }
      .owl-next {
        right: 0;
        &:before {
          content: '\f105';
        }
      }
    }
  }
}

@media @xs-max {
  .owl-nav {
    display: none !important;
  }
}

@media @lg {
  .owl-carousel {
      &.owl-theme {
        &:hover {
          .owl-controls {
            .owl-nav {
              [class*="owl-"] {
                opacity: 1;
                visibility: visible;
              }
              .owl-prev {
                left: 5px;
              }
              .owl-next {
                right: 5px;
              }
            }
          }
        }
        .owl-controls {
          .owl-nav {
            [class*="owl-"] {
              opacity: 0;
              visibility: hidden;
            }
            .owl-prev {
              left: -15px;
            }
            .owl-next {
              right: -15px;
            }
          }
        }
      }
    }

  // Boxed layout
  .boxed {
    .carousel-module {
      .owl-carousel {
        max-width: 1200px;
      }
    }
  }
}