@import (reference) "_elements";

/*--------------------------------------------------------------
Navigation Block
--------------------------------------------------------------*/

.main-nav {
  &__item {
    &--category {
      .menu-category {
        &-title {
          display: block;
          font-size: 15px;
          padding: 10px 0;
          margin-bottom: 15px;
        }
        &-description {
          font-size: 13px;
          margin-bottom: 15px;
        }
        &-image {
          padding: 10px;
        }
      }
      .subcat {
        > li {
          margin-bottom: 15px;
          &:before {
            .fafont;
            content: '\f101';
            font-size: 14px;
            margin: 0 5px;
            display: inline-block;
            .transi;
          }
        }
      }
    }
  }
}

@media @md-max {

  .navigation {
    padding-bottom: 15px;
    margin: 0 -15px;
  }

  .main-nav {
    display: none;
    padding: 15px;
    &__item {
      position: relative;
      margin-bottom: 1px;
      .btn-expand-menu {
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        .transition;
        &:before {
          .kuler;
          content: '\e602';
          width: 42px;
          height: 42px;
          line-height: 42px;
          text-align: center;
          display: block;
          color: #ffffff;
          cursor: pointer;
          .transition;
        }
      }
      &.expand {
        .btn-expand-menu:before {
          .rotation(135deg);
        }
      }
      > a {
        font-size: 14px !important;
        display: block;
        padding: 10px 15px;
      }
      &--custom {
        .main-nav__secondary-nav {
          ul > li {
            margin: 5px 0;
          }
        }
      }
    }
    &__secondary-nav {
      display: none;
      padding: 15px 0;
      &__item {
        padding: 5px 0;
      }
    }
  }

  #btn-mobile-toggle {
    cursor: pointer;
    position: relative;
    display: block;
    text-transform: uppercase;
    padding: 10px 15px;
    &:after {
      .kuler;
      content: '\e60d';
      font-size: 22px;
      position: absolute;
      right: 15px;
      top: 8px;
      .transition;
    }
    &.expand:after {
      .rotation(90deg);
    }
  }
}

@media @md {
  .navigation {
    margin-top: 30px;
  }
}

@media @lg {

  #btn-mobile-toggle{
    display: none;
  }

  .navigation {
    width: 300%;
    position: relative;
    border-top: 1px solid transparent;
    padding: 20px 0;
    margin: 50px -100% 0;
  }

  .main-nav {
    font-size: 0;
    &__item {
      position: static;
      display: inline-block;
      vertical-align: top;
      .transition;
      &:hover {
        .main-nav__secondary-nav {
          z-index: 1001;
          opacity: 1;
          visibility: visible;
          pointer-events: auto;
          top: 100%;
        }
      }
      > a {
        cursor: pointer;
        display: inline-block;
        font-size: 15px;
        font-weight: 600;
        text-transform: uppercase;
        border: 2px solid transparent;
        padding: 10px 15px;
        .rounded(22px);
      }
      &--html {
        .main-nav__secondary-nav {
          .container {
            padding: 20px;
          }
        }
      }
      &--custom {
        position: relative;
        &:hover {
          .main-nav__secondary-nav {
            padding-top: 40px;
          }
        }
        a {
          font-size: 14px;
        }
        .main-nav__secondary-nav {
          width: 200px;
          left: auto;
          padding-top: 40px;
          .container {
            padding: 0;
            a {
              display: block;
              text-transform: capitalize;
              padding: 5px 20px;
            }
          }
        }
      }
    }
    &__secondary-nav {
      font-size: 14px;
      position: absolute;
      left: 0;
      width: 100%;
      z-index: -999;
      opacity: 0;
      visibility: collapse;
      pointer-events: none;
      top: 120%;
      padding-top: 20px;
      margin-top: -20px;
      .transition;
      .container {
        max-width: 1170px;
        padding: 20px;
      }
    }
  }
}

/*----------------- COLOR -----------------*/
.main-nav {
  &__item {
    &--category {
      .menu-category {
        &-title {
          border-bottom: 1px solid #dddddd;
        }
        &-description {
          color: #888888;
        }
        &-image {
          border: 1px solid #dddddd;
        }
      }
      .subcat {
        > li {
          color: #aaaaaa;
          &:hover {
            &:before {
              color: @color1;
            }
          }
        }
      }
    }
    &--custom {
      .main-nav__secondary-nav {
        .container {
          a:hover {
            color: @color1;
          }
        }
      }
    }
  }
}

@media @md-max {

  .main-nav {
    background-color: #00B36B;
    &__item {
      background-color: @color1;
      &:hover {
        background-color: @color1 !important;
      }
      &.expand {
        .btn-expand-menu {
          background-color: rgba(255,255, 255,0.2);
        }
      }
      > a {
        color: #ffffff !important;
      }
    }
    &__secondary-nav {
      background-color: #ffffff;
    }
  }

  #btn-mobile-toggle {
    color: #ffffff;
    background-color: @color1;
  }
}

@media @lg {
  .main-nav {
    &__secondary-nav {
      .container {
        background-color: #fff;
        .box_shadow(0, 2px, 2px, 2px, rgba(0, 0, 0, 0.1));
      }
    }
  }
}

.skin2 {
  .main-nav {
    &__item {
      &--category {
        .subcat {
          > li {
            &:hover {
              &:before {
                color: @color2;
              }
            }
          }
        }
      }
      &--custom {
        .main-nav__secondary-nav {
          .container {
            a:hover {
              color: @color2;
            }
          }
        }
      }
    }
  }
}


.skin3 {
  .main-nav {
    &__item {
      &--category {
        .subcat {
          > li {
            &:hover {
              &:before {
                color: @color3;
              }
            }
          }
        }
      }
      &--custom {
        .main-nav__secondary-nav {
          .container {
            a:hover {
              color: @color3;
            }
          }
        }
      }
    }
  }
}