@import (reference) "_elements";

/*---------------------------------
 PRODUCT INFO PAGE
 -----------------------------------*/
.thumbnails {
  &__list-image {
    margin-top: 20px;
    .owl-item {
      text-align: center;
      padding: 5px;
    }
  }
}

.product-info {
  .product {
    &-save-precent {
      display: inline-block;
      text-transform: uppercase;
      font-size: 12px;
      padding: 5px 10px;
      margin-bottom: 10px;
    }
    &-sale {
      display: none;
    }
    &-name {
      font-size: 38px;
      font-weight: normal;
      margin-bottom: 10px;
    }
    &-price {
      font-size: 20px;
      font-weight: normal;
      display: inline-block;
      padding: 8px 20px;
      margin-bottom: 10px;
      .rounded(22px);
    }
    &-review {
      display: inline-block;
      padding-bottom: 15px;
      margin-top: 15px;
      .fa-stack {
        width: 1em;
        height: 1em;
        line-height: 1em;
        &:nth-child(5) {
          margin-right: 30px;
        }
      }
      a {
        font-size: 13px;
        font-weight: 600;
      }
    }
    &-details {
      border: 1px solid transparent;
      padding: 15px;
      &-title {
        border: 1px solid transparent;
        border-bottom: none;
        font-size: 24px;
        padding: 15px;
        margin: 0;
      }
      li {
        margin: 5px 0;
      }
    }
    &-options {
      padding-top: 20px;
    }
    &-share {
      padding-bottom: 20px;
    }
  }
  .form-control {
    width: auto;
  }
  .custom-block {
    font-size: 13px;
    padding: 20px;
    margin-bottom: 30px;
  }
  .quantity {
    &__label {
      display: inline-block;
      vertical-align: middle;
    }
    &__button {
      font-size: 0;
      height: 40px;
      width: 40px;
      border: none;
      text-align: center;
      .rounded(100%);
      .transi;
      &:before {
        .fafont;
        display: inline-block;
        line-height: 38px;
        font-size: 20px;
      }
      &#qty-dec {
        &:before {
          content: '\f104';
        }
      }
      &#qty-inc {
        &:before {
          content: '\f105';
        }
      }
    }
    &__input {
      width: auto;
      text-align: center;
      display: inline-block;
      vertical-align: top;
      height: 40px;
      line-height: 40px;
      padding: 10px 20px;
    }
  }
  .product-detail {
    padding-bottom: 20px;
    &-button {
      visibility: visible;
    }
  }
}

.product-tabs {
  margin-top: 20px;
  .nav-tabs {
    border: none;
    padding: 15px;
    > li {
      border: none;
      > a {
        font-size: 16px;
        border: 1px solid transparent;
        padding: 10px 20px;
        margin: 0;
        background-color: transparent;
        .rounded(20px);
        .transi;
      }
      &.active {
        > a {

        }
      }
    }
  }
  .tab-content {
    padding: 20px 0;
  }
  #tab-review {
    .fa-stack {
      height: 1em;
      width: 1em;
      line-height: 1em;
    }
    input[type="radio"] {
      vertical-align: top;
    }
    .buttons {
      padding-top: 0;
    }
  }
}

.product-related {
  margin-top: 30px;
  .box-heading {
    font-size: 20px;
    font-weight: normal;
    margin-bottom: 30px;
    padding: 20px;
  }
}

@media @md {
  .product-tabs {
    .tab-content {
      padding: 20px;
    }
  }
}

@media @lg {
  .product-info {
    .product {
      &-name {
        font-size: 38px;
      }
      &-detail {
        opacity: 1;
        visibility: visible;
        margin: 0;
      }
    }

  }
}

/*************** COLOR ***********************/
.thumbnails {
  &__list-image {
    .owl-item {
      border: 1px solid #dddddd;
    }
  }
}

.product-info {
  .product {
    &-price {
      color: #ffffff;
      background-color: @color1;
    }
    &-save-precent {
      color: #dddddd;
      background-color: #fff;
      border: 2px solid #ccc;
    }
    &-review {
      a {
        color: @color1;
      }
    }
    &-details {
      border-color: #dddddd;
      &-title {
        border-color: #dddddd;
        background-color: #eeeeee;
      }
    }
    &-detail{
      &-button {
        &--cart {
          color: #ffffff;
          background-color: @color1;
          &:hover {
            color: @color1;
            background-color: transparent;
            border-color: @color1;
          }
        }
      }
    }
  }
  .custom-block {
    background-color: #f7f7f7;
  }
  .quantity {
    &__button {
      color: @color1;
      background-color: transparent;
      &:hover {
        color: #ffffff;
        background-color: @color1;
      }
    }
    &__input {
      border-color: #dddddd;
    }
  }
}

.product-tabs {
  .nav-tabs {
    background-color: #eeeeee;
    > li {
      > a {
        color: #aaaaaa;
      }
      &:hover {
        > a {
          background-color: transparent;
        }
      }
      &.active {
        > a {
          color: #444444;
          border-color: #dddddd;
          background-color: transparent;
        }
      }
    }
  }
}

.product-review, #tab-review {
  .fa-star-o {
    color: #ababab;
  }
  .fa-star {
    color: #ffc926;
    + .fa-star-o {
      color: #ffc926;
    }
  }
}

.product-related {
  .box-heading {
    color: #444444;
  }
}

.skin2 {
  .product-info {
    .product {
      &-price {
        background-color: @color2;
      }
      &-review {
        a {
          color: @color2;
        }
      }
      &-detail{
        &-button {
          &--cart {
            background-color: @color2;
            &:hover {
              color: @color2;
              border-color: @color2;
            }
          }
        }
      }
    }
    .quantity {
      &__button {
        color: @color2;
        &:hover {
          color: #ffffff;
          background-color: @color2;
        }
      }
    }
  }
}

.skin3 {
  .product-info {
    .product {
      &-price {
        background-color: @color3;
      }
      &-review {
        a {
          color: @color3;
        }
      }
      &-detail{
        &-button {
          &--cart {
            background-color: @color3;
            &:hover {
              color: @color3;
              border-color: @color3;
            }
          }
        }
      }
    }
    .quantity {
      &__button {
        color: @color3;
        &:hover {
          color: #ffffff;
          background-color: @color3;
        }
      }
    }
  }
}