@import (reference) "_elements";

/*---------------------------------
 CATEGORY PAGE
 -----------------------------------*/
.category-info {
  &__title {
    font-size: 32px;
    margin-bottom: 20px;
  }
  &__image {
    text-align: center;
    img {
      border: 1px solid transparent;
      padding: 5px;
    }
  }
  &__description {
    font-size: 14px;
  }
}

/* refine-search */
.refine-search {
  border: 1px solid transparent;
  padding: 0 15px;
  margin: 30px 0;
  .row-heading {
    padding: 15px 0;
    margin-bottom: 0;
  }
  &__name {
    font-size: 13px;
    display: block;
    padding: 5px 15px;
  }
  &__image {
    padding: 0;
  }
  .owl-carousel {
    padding: 15px 0;
  }
  .no-carousel {
    font-size: 0;
    margin-bottom: 50px;
    div {
      display: inline-block;
      margin-right: 10px;
    }
    .refine-search__image {
      display: block;
    }
  }
}

/* product filter */
.product-filter {
  padding: 10px 15px;

  [class*="col-"] {
    vertical-align: middle;
  }
  a, label {
    font-size: 13px;
    line-height: 2.5em;
  }
  button {
    border: none;
    background-color: transparent;
    outline: none;
  }
  select {
    background-position-x: 85%;
    &:focus {
      background-color: #ffffff;
    }
  }
  .text-right {
    text-align: start;
  }
}

@media @md {
  .category-info {
    &__image {
      text-align: start;
    }
  }
}

/************** SKIN *********************/
.category-info {
  &__title {
    color: #444444;
  }
  &__image {
    img {
      border-color: #dddddd;
    }
  }
  &__description {
    color: #888888;
  }
}

.refine-search {
  border-color: #dddddd;
}

.product-filter {
  background-color: #eeeeee;
  border-bottom: 1px solid #dddddd;
  a, label, button {
    color: #888888;
  }
  .form-control {
    background-color: #fff;
  }
}