@import (reference) "_elements";
/*--------------------------------
CHECKOUT
--------------------------------*/

.table-cart-info {
  margin: 40px 0;
  thead {
    td {
      font-weight: 600;
    }
  }
  td {
    vertical-align: middle !important;
    border-top: none !important;
    padding: 20px !important;
  }
  &__quantity {
    .form-control {
      width: auto;
      height: 40px !important;
      text-align: center;
      margin: 0 3px;
      padding: 0 15px;
      .rounded(22px) !important;
    }
  }
  .btn {
    padding: 10px 20px;
  }
}

.cart-total {
  text-align: end;
  padding: 30px 0;
  td {
    text-align: end;
    font-weight: 600;
    border-top: none !important;
  }
}

#input-voucher, #input-coupon {
  padding: 9px 20px;
}

/// NORMAL PAGE CHECKOUT
#normal-page-checkout {
  .panel-body {
    p {
      margin-bottom: 20px;
    }
  }
  .form-buttons {
    margin-top: 30px;
  }
}

/// ONE PAGE CHECKOUT
#one-page-checkout {

  legend {
    font-size: 20px;
  }

  .control-label {
    margin-bottom: 5px;
  }

  .input-group {
    padding: 0 15px;
  }

  #login {
    cursor: pointer;
    display: inline-block;
    margin-bottom: 20px;
  }

  #order-total-content {
    strong {
      font-size: 15px;
      font-weight: 600;
      text-transform: uppercase;
    }
  }

  #coupon-container, #voucher-container {
    font-size: 0;
    margin-top: 15px;
    input[type="text"] {
      padding: 9px 15px;
    }
  }
}

#address-form-container, #payment-form {
  position: relative;
  max-width: 600px;
  background-color: #ffffff;
  padding: 30px 15px 10px;
  margin: auto;
}

/***************** SKIN *****************/
.table-cart-info {
  thead {
    td {
      color: #888888;
      background-color: #eeeeee;
      border-top: 1px solid #eeeeee !important;
      border-bottom: 1px solid #eeeeee;
    }
  }
  td {
    color: #777777;
    border-bottom: 1px solid #eee;
    &:first-child {
      border-left: 1px solid #eeeeee;
    }
    &:last-child {
      border-right: 1px solid #eeeeee;
    }
  }
  &__name {
    > a {
      color: @color1 !important;
    }
  }
  .btn {
    background-color: transparent;
    border: none;
    &:hover, &:focus {
      background-color: transparent;
    }
  }
}

.cart-total {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  td {
    strong {
      color: #777777;
    }
  }
}

#one-page-checkout {
  #login {
    color: #D93600;
  }
}

.skin2 {
  .table-cart-info {
    &__name {
      > a {
        color: @color2 !important;
      }
    }
  }
}

.skin3 {
  .table-cart-info {
    &__name {
      > a {
        color: @color3 !important;
      }
    }
  }
}