@import (reference) "_elements";

/*********************************
RIGHT TO LEFT support
/*********************************/
/*----------------------
Combo CSS
----------------------*/
.text-left {
  text-align: start !important;
}

.text-right {
  text-align: end !important;
}

.float-left, .pull-left {
  float: right !important;
}

.float-right, .pull-right {
  float: left !important;
}

select.form-control {
  background-position: 6%;
}

.radio input[type=radio],
.radio-inline input[type=radio],
.checkbox input[type=checkbox],
.checkbox-inline input[type=checkbox] {
  float: right;
  margin-left: 0;
  margin-right: -20px;
}

.dropdown-menu-right {
  right: auto;
  left: 0;
}

.dropdown-menu-left {
  left: auto;
  right: 0;
}

/*----------------------
Elements
----------------------*/
// Modal dialog
.modal {
  .close {
    float: left;
  }
}

.form-horizontal {
  .control-label {
    text-align: end;
  }
}

#notification {
  right: auto;
  left: 20px;
}

.alert {
  button.close {
    right: auto;
    left: 15px;
  }
}

.scrollup {
  right: auto;
  left: 30px;
}

.breadcrumb {
  > li {
    + li:before {
      .fafont;
      content: "\f104";
    }
  }
}

/*--------------------------------------------------------------
Header Block
--------------------------------------------------------------*/
.extra {
  span:after {
    content: '\f104';
    margin-left: 0;
    margin-right: 20px;
  }
  .dropdown-menu {
    right: 0;
  }
  [class*="extra"] {
    margin-right: 10px;
    margin-left: 0;
    .btn-group {
      &.open {
        span:after {
          .rotation(-90deg);
        }
      }
    }
  }
}

#search {
  .button-search {
    right: auto;
    left: 2px;
    &:before {
      border-radius: 25px 0 0 25px;
    }
  }
}

.mini-cart {
  #cart-total:after {
    margin-left: 0;
    margin-right: 10px;
  }
  &__info {
    @media @md {
      left: 0;
      right: auto;
    }
  }

  @media @lg {
    right: auto;
    left: 0;
  }
}

/*--------------------------------------------------------------
Navigation Block
--------------------------------------------------------------*/
.main-nav__item {
  &--category {
    .subcat > li{
      &:before {
        content: '\f100';
      }
    }
    .menu-category-image {
      &.float-left {
        float: left !important;
      }
      &.float-right {
        float: right !important;
      }
    }
  }
}
@media @md-max {
  #btn-mobile-toggle {
    &:after {
      content: '\f104';
      right: auto;
      left: 15px;
    }
    &.expand:after {
      .rotation(-90deg);
    }
  }

  .main-nav {
    &__item {
      .btn-expand-menu {
        right: auto;
        left: 0;
      }
      &.expand {
      }
    }
  }
}

/*--------------------------------------------------------------
FOOTER Block
--------------------------------------------------------------*/
.footer__list {
  &__item {
    &:before {
      content: '\f100';
      margin-left: 10px;
      margin-right: 0;
    }
  }
}
.contact__item {
  &:before {
    float: right;
    margin-left: 5px;
    margin-right: 0;
  }
  span {
    margin-left: 0;
    margin-right: 40px;
  }
}

/*--------------------------------------------------------------
Kuler Showcase Module
--------------------------------------------------------------*/
.kuler-showcase-module {
  .nav {
    span {
      right: auto;
      left: 32px;
      &.prev {
        right: auto;
        left: 0;
      }
    }
  }
}

.side-bar {
  .kuler-showcase-module {
    .product-layout {
      .product-thumb {
        float: right;
        padding-right: 0;
        padding-left: 15px;
      }
    }
  }
}

/*-------------------------------------
KULER BLOG
-------------------------------------*/
.blog-feed {
  right: auto;
  left: 15px;
}

.article {
  &-image {
    float: right;
    margin-right: 0;
    margin-left: 10px;
  }
  &__extra-info {
    time, a {
      margin-right: 0;
      margin-left: 5px;
    }
    span:before, time:before {
      margin-right: 0;
      margin-left: 15px;
    }
  }
}

.related-articles {
  ul {
    margin-right: 0;
    margin-left: 20px;
  }
}

.comment {
  .avatar {
    float: right !important;
  }
  .author, .message {
    margin-left: 0 !important;
    margin-right: 130px !important;
  }
  .date {
    margin-left: 0 !important;
    margin-right: 30px !important;
  }
}

.reply-list {
  margin-left: 0;
  margin-right: 30px;
}


.kbm-category {
  .treemenu {
    > li {
      &:before {
        margin-right: 0;
        margin-left: 10px;
      }
    }
  }
}

@media @sm-max {
  .comment {
    .author, .message {
      margin-left: 0 !important;
      margin-right: 70px !important;
    }

    .date {
      margin-left: 0 !important;
      margin-right: 10px !important;
    }
  }
}

/*--------------------------------------------
Box category
----------------------------------------------*/
.box-category {
  &__item {
    > .toggle {
      float: right;
      margin-right: 0;
      margin-left: 10px;
    }
  }
}

/*--------------------------------------------------------------
Kuler Live Search
--------------------------------------------------------------*/
.live-search-container {
  .dropdown-menu {
    .product-layout {
      .right {
        padding-left: 10px;
        padding-right: 0;
      }
    }
  }
  @media @md {
    .dropdown-menu {
      left: 0 !important;
      right: auto;
    }
    &--normal {
      #search-inner {
        .kf_search {
          border-left-width: 2px;
          border-right-width: 0;
          border-radius: 24px 0 0 24px;
        }
      }
      select[class*="kf_"] {
        border-right-width: 2px;
        border-left-width: 1px;
        border-radius: 0 24px 24px 0;
      }
    }
    &--full {
      .kf_category {
        border-right-width: 2px !important;
        border-left-width: 0 !important;
        border-radius: 0 24px 24px 0;
      }
      .kf_manufacturer {
        border-left-width: 2px !important;
        border-right-width: 1px !important;
        border-radius: 24px 0 0 24px;
      }
    }
    .kf_category, .kf_manufacturer {
      background-position: 15% center;
    }
  }
}

#search-close {
  right: auto;
  left: -15px;
}