@import (reference) "_elements";

/*--------------------------------------------------------------
LEFT - RIGHT COLUMN BLOCK
--------------------------------------------------------------*/
.side-bar {
  .box {
    border: 1px solid transparent;
  }
  .box-heading {
    font-weight: 300;
    border-bottom: 1px solid transparent;
    padding: 20px;
    margin-bottom: 0;
  }
  .box-content {
    > ul > li {
      font-size: 15px;
      display: block;
      padding: 10px 20px;
      border-bottom: 1px solid transparent;
      .transi;
      &:last-child {
        border-bottom: none;
      }
    }
  }
  > div {
    margin-bottom: 30px;
  }
}

/*************** COLOR ***************/
.side-bar {
  .box {
    border-color: #dddddd;
  }
  .box-heading {
    color: #444444;
    border-color: #dddddd;
  }
  .box-content {
    > ul > li {
      color: #555555;
      border-color: #dddddd;
      > a {
        color: #555555;
      }
      &:hover {
        color: #ffffff;
        background-color: #555555;
        > a {
          color: #ffffff;
        }
      }
    }
  }
}