@import (reference) "_elements";

/*--------------------------------------------------------------
TOPBAR BLOCK
--------------------------------------------------------------*/
#top-bar {
  text-align: center;
  border-bottom: 1px solid transparent;
  padding: 15px 0;
  [class*="col"] {
    vertical-align: middle;
  }
}

/* Extra */
.extra {
  [class*="extra__"] {
    margin-right: 10px;
    margin-bottom: 10px;
    display: inline-block;
    .btn-group {
      &.open {
        span:after {
          .rotation(90deg);
        }
      }
    }
  }
  span {
    font-weight: 500;
    display: block;
    margin-top: -2px;
    .transi;
    &:after {
      .fafont;
      content: '\f105';
      font-size: 14px;
      display: inline-block;
      margin-left: 20px;
    }
  }
  strong, img {
    display: none;
  }
  .dropdown-menu {
    text-align: start;
    width: 100%;
  }
  .dropdown-toggle {
    padding: 10px 15px;
  }
  .currency-select {
    text-align: start;
    outline: none;
    border: none !important;
    .rounded(0);
    &:hover {
      text-decoration: none;
    }
  }
  .currency-select, .language-select {
    font-size: 13px;
    text-transform: none;
    padding: 5px 10px;
    &:hover {
      background-color: transparent;
    }
  }
  .btn {
    font-size: 13px;
    font-weight: normal;
    text-transform: none;
  }
}

/* Topbar Links */
.top-bar__links-list {
  font-weight: 300;
  display: inline-block;
  font-size: 13px;
  margin: 0 -15px;
  .list-inline>li {
    padding: 0 3px;
  }
}

@media @md {

  #top-bar {
    text-align: start;
  }

  .extra {
    display: inline-block;
    vertical-align: middle;
    [class*="extra__"] {
      margin-bottom: 0;
    }
  }

  .top-bar__links-list {
    font-size: 0;
    text-align: end;
    margin: 0;
    &__link {
      text-align: center;
      display: inline-block;
      height: 40px;
      width: 40px;
      border: 2px solid transparent;
      .rounded(100%);
      .transition;
      &:before {
        .fa;
        font-size: 16px;
        line-height: 36px;
      }
      &--wish-list {
        &:before {
          content: '\f004';
        }
      }
      &--account {
        position: relative;
        cursor: pointer;
        &:before {
          content: '\f007';
        }
        +.dropdown-menu {
          font-size: 13px;
        }
      }
      &--cart {
        &:before {
          content: '\f07a';
        }
      }
      &--checkout {
        &:before {
          content: '\f155';
        }
      }
    }
  }
}

/********************* COLOR *********************/
.extra {
  .btn {
    border-color: transparent;
    background-color: transparent;
    &:hover, &:focus {
      border-color: transparent;
      background-color: transparent;
    }
  }
}

.top-bar__links-list {
 &__link {
   &--account {
     +.dropdown-menu > li > a {
         color: #888888 !important;
         &:hover {
           background: transparent ;
           color: @color1 !important;
         }
       }
     }
   }
 }

.skin2 {
  .top-bar__links-list {
    &__link {
      &--account {
        +.dropdown-menu > li > a {
          &:hover {
            color: @color2 !important;
          }
        }
      }
    }
  }
}

.skin3 {
  .top-bar__links-list {
    &__link {
      &--account {
        +.dropdown-menu > li > a {
          &:hover {
            color: @color3 !important;
          }
        }
      }
    }
  }
}