<div id="search">
  <input type="text" name="search" value="<?php echo $search; ?>" placeholder="<?php echo $text_search; ?>" class="form-control input-md" />
  <span class="button-search"></span>
</div>