.product-info.label.control-label {
    font-size: larger;
    font-weight: bold;
    text-decoration: underline;
    padding: 5px;
}

.img-thumbnail {
    padding: 4px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    display: inline-block;
    width: 100% \9;
    max-width: 100%;
    height: auto;
    display: block;
}

.form-group input {
    //display: none;
}

.option-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  position: relative;
  top: 13.33333px;
  width: 40px;
  height: 40px;
  -webkit-transition: all 0.15s ease-out 0;
  -moz-transition: all 0.15s ease-out 0;
  transition: all 0.15s ease-out 0;
  background: #cbd1d8;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  outline: none;
  position: relative;
  margin-right: 0.5rem;
  z-index: 1000;
}

.option-input:hover { background: #9faab7; }

.option-input:checked { background: #40e0d0; }

.option-input:checked::before {
  width: 40px;
  height: 40px;
  position: absolute;
  content: '\2714';
  display: inline-block;
  font-size: 26.66667px;
  text-align: center;
  line-height: 40px;
}

.option-input:checked::after {
  -webkit-animation: click-wave 0.65s;
  -moz-animation: click-wave 0.65s;
  animation: click-wave 0.65s;
  background: #40e0d0;
  content: '';
  display: block;
  position: relative;
  z-index: 100;
}

@media (max-width:480px)
{
    .option-input {
      -webkit-appearance: none;
      -moz-appearance: none;
      -ms-appearance: none;
      -o-appearance: none;
      appearance: none;
      position: relative;
      top: 13.33333px;
      width: 25px;
      height: 25px;
      -webkit-transition: all 0.15s ease-out 0;
      -moz-transition: all 0.15s ease-out 0;
      transition: all 0.15s ease-out 0;
      background: #cbd1d8;
      border: none;
      color: #fff;
      cursor: pointer;
      display: inline-block;
      outline: none;
      position: relative;
      margin-right: 0.5rem;
      z-index: 1000;
    }
    
    .option-input:checked::before {
      width: 25px;
      height: 25px;
      position: absolute;
      content: '\2714';
      display: inline-block;
      font-size: 16.66667px;
      text-align: center;
      line-height: 25px;
    }

    .option-input:checked::after {
      -webkit-animation: click-wave 0.65s;
      -moz-animation: click-wave 0.65s;
      animation: click-wave 0.65s;
      background: #40e0d0;
      content: '';
      display: block;
      position: relative;
      z-index: 100;
    }    
}

.option-input.radio { border-radius: 50%; }

.option-input.radio::after { border-radius: 50%; }

.radio.col-xs-5, .radio.col-md-3{
    margin-top: 0px;
}

.option-box {
    margin: auto;
    width: 90%;
    padding-right: 0px;
    max-height: 300px;
    overflow: auto;
}

.top-banner__title_prod {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 5px;
    color: #ffffff;
}

.top-banner__box{
    min-height: 280px;
}
.product-info {
    text-align: center;
}

.op-container {
    background: beige;
}

.op-label {
    background: #ffac00;
    width: 100%;
    margin-bottom: 4px;
    color: white;
    padding: 5px;
    font-weight: bold;
}

.text-danger {
    color: red;
    background: white;
    text-decoration: underline;
}